/* 
 css шрифтов цвета стили

 перенести шрифты из main сюда
*/

html	{font-family: arial;}

/*

*/
a {
	color: gray;
	text-decoration: none;
}
h6 {margin: 0;}

a:hover
{
	text-decoration: underline;
}

h3 {font-size: 14px; font-weight: normal;}

.banner
{
	color: #fff;
}
.banner a
{
	color: #fff;
	text-decoration: none;
}

.mainMenu .menu li a
{
	color: #353A3E;
	font-size: 14px;
}
.mainMenu .menu li a:hover
{
	text-decoration: underline;
}


.mainList ul.menu li a 
{
	text-decoration: none;
	color: white;
}

.shopList article h3
{
	color: white;
	background: #e83;
}
footer h3
{
	color: white;
}

.name
{
	font-size: 14px;
	font-weight: normal;
}

.price
{

}

.bonus
{

}

.descr
{

}

.header
{

}

button {}